:host{
    display: flex;
}

.category{
    width: 100%;
    padding: 1em 1em;
    text-decoration: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.icon{
    height: 0;
    transition: 0.3s;
}


.category:hover > .icon{
    height: 30px;
    margin: 0 15px;
}
