<!--ngStyle= boxStyle et textStyle pour permettre d'appliquer du style à l'élément-->

<div class="category feeling" [style.background-color]="color" [ngStyle]="boxStyle">
    <img class="icon" src="{{imageSrc}}" onerror="this.onerror=null; this.src=imageSrc" alt="Magnifying glass">

    <p [ngStyle]="textStyle">{{body}}</p>
</div>