<div class="vertical-nav col" id="sidebar">
  <span id="logo" [routerLink]="['/']" skipLocationChange>
        <img src="../../assets/favicon.svg" height=96>
  </span>

  <nav id="nav">
    <ul class="nav__list col">
      <li class="nav__item"><a [routerLinkActive]="['nav__link--selected']" [routerLink]="['/maps']" class="nav__link"
          skipLocationChange>{{'NAV.MAPS' | translate}}</a></li>
      <li class="nav__item"><a [routerLinkActive]="['nav__link--selected']" [routerLink]="['/community']"
          class="nav__link" skipLocationChange>{{'NAV.COMMUNITY' | translate}}</a></li>
      <!-- <li class="nav__item"><a [routerLinkActive]="['nav__link--selected']" [routerLink]="['/messages']"
          class="nav__link" skipLocationChange>Messages</a></li> -->
      <!-- <li class="nav__item"><a [routerLinkActive]="['nav__link--selected']" [routerLink]="['/preventive-measures']"
          class="nav__link" skipLocationChange>{{ 'NAV.PREVENTIVEMEASURES' | translate}}</a></li> -->
      <!-- <li class="nav__item"><a [routerLinkActive]="['nav__link--selected']" [routerLink]="['/community']"
          class="nav__link" skipLocationChange>Messages</a></li> -->
      <li class="nav__item"><a [routerLinkActive]="['nav__link--selected']" [routerLink]="['/login']" class="nav__link"
          skipLocationChange> {{ 'NAV.LOGIN' | translate }} </a></li>
      <li class="nav__item "><a class="nav__link exit" (click)="getAway()"> {{ 'NAV.GETMEAWAY' | translate }} </a></li>
    </ul>
  </nav>


  <div class="selector" style="width:100%">
    {{ 'NAV.LANG' | translate }} :
    <select #langSelect (change)="lang.setLangToken(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
        {{ lang }}</option>
    </select>
  </div>
</div>
