#container{
  display: flex;
  flex-flow: column;
  position: relative;
}

#order {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  padding: .5em 1em;
  outline: none;
  transition: border 0.5s ease-in-out;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
}

#order:hover{
  cursor: pointer;
}

/*
Triangle en css 
*/
#triangle {
  width: 0;
  border-top: 1vw solid rgb(105, 105, 105);
  border-left: .75vw solid transparent;
  border-right: .75vw solid transparent;
}

p{
  color: rgb(105, 105, 105);
  font-style: normal;
  font-weight: normal;
  font-size: medium;
}

.filter-select {
  margin-top: 2.1em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 2vw;
  width: 20vw;
  
  position: absolute;
  z-index: 99;
  overflow-y: auto;
  background: #fff;
  padding-inline-start: 0;
}


.filter-select-list:hover .tags {
  color: #fff;
}
.filter-select-list {
  cursor: pointer;
  padding: 1vw;
}

.filter-select-list:hover {
  background:  #C0C0C0;
  color: #fff;
}

.filter-select > li > p{
  color: black;
}