<section id="container">
    <!--quand on clique hors du menu il se referme (avec la fonction clickOutside crée par Manish et Nicos)-->
    <div type="text" id="order" (click)="show = !show" appClickOutside (clickOutside)="show = false">
        <p>{{selectedOption}}</p>
        <div id="triangle"></div>
    </div>
    <ul class="filter-select" *ngIf="show">
        <li *ngFor="let option of options; let i=index" class="filter-select-list" (click)="change(i)">
            <p>{{option}}</p>
        </li>
    </ul>
</section>
