<div class="community">
  <app-emergency-box></app-emergency-box>
  <div id="top">
    <!-- La searchbar est defini comme compensant réutilisable elle defini le messageEvent, quand le messageEvent est recu la fonction onSearch de la composante search-view s'active -->
    <app-search-bar [automaticFill]="currentSearch" (messageEvent)="onSearch($event)"></app-search-bar>
    <!--Quand un élément est selectionner invocation de la méthode onFilter-->
    <app-dropdown [automaticFill]="currentOrder" (messageEvent)="onFilter($event)"></app-dropdown>
  </div>

  <app-image-button id="create-box" routerLink="create-view" [color]="'#2E3192'" [imageSrc]="'../../../assets/add_white_v2.svg'" [textStyle]="createStyle" [body]="'Create a new topic'" skipLocationChange></app-image-button>

  <div class="categories">
    <app-image-button (click)="getAllTopics();currentPage=0" [textStyle]="searchSuggestionStyle.text" [boxStyle]="searchSuggestionStyle.box" [color]="'#fabb87'" [imageSrc]="'../../../assets/clock.svg'" [body]="'Latest topics'"></app-image-button>
    <app-image-button (click)="onSearch('frontend');currentPage=0" [textStyle]="searchSuggestionStyle.text" [boxStyle]="searchSuggestionStyle.box" [color]="'#FF9848'" [imageSrc]="'../../../assets/loupe.svg'" [body]="'frontend'"></app-image-button>
    <app-image-button (click)="onSearch('Tell your story');currentPage=0" [textStyle]="searchSuggestionStyle.text" [boxStyle]="searchSuggestionStyle.box" [color]="'#999FDE'" [imageSrc]="'../../../assets/loupe.svg'" [body]="'Tell your story'"></app-image-button>
    <app-image-button (click)="onSearch('How did your situation change during the isolation');currentPage=0" [textStyle]="searchSuggestionStyle.text" [boxStyle]="searchSuggestionStyle.box" [color]="'#EBDDFF'" [imageSrc]="'../../../assets/loupe.svg'" [body]="'How did your situation change during the isolation'"></app-image-button>
  </div>

  <div>
    <p class="content-header">{{displayInfo}}</p>
  </div>

  <div [style.visibility]="(show || noResults) ? 'hidden': 'visible'" class="loader">
    <p>Loading...</p>
  </div>
  <div [style.visibility]="noResults ? 'visible': 'hidden'" class="loader">
    <p>No results :(</p>
  </div>
  <app-topic-bubble [routerLink]="['topic-view', topic.id]" *ngFor="let topic of displayedTopics" [topic]='topic.title' [description]="textFormatting.descriptionFormatting(topic.created_at, topic.post_stream.posts[0].username)" [body]="topic.post_stream.posts[0].cooked" [replies]="topic.posts_count-1" skipLocationChange></app-topic-bubble>
  <app-pagination *ngIf="currentTopics!=undefined" [style.visibility]="show ? 'visible': 'hidden'" [currentPage]="currentPage" [maxPages]="currentTopics.length" (pageChange)="onPageChange($event)"></app-pagination>
</div>