
.community{
  display: flex;
  flex-direction: column;
  padding: 3%;
}

#top{
  padding: 3em;
  display: flex;
  flex-direction: line;
  justify-content: space-between;
  align-items: center;
}

.categories {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.categories > app-image-button{
  margin: 0 2%;
  flex-basis: 0;
  flex-grow: 1;
}

#create-box{
  outline: none;
  align-self: center;
  margin-bottom: 2em;
}

.content-header {
  align-items: middle;
  font-size: 18pt;
  margin-top: 2em;
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #bebebe;
  ;
}

.post{
  padding: 1em 0;
  text-decoration: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 65px;
  display: block;
  margin: 2em 0; 
  padding: 2em;
  background-color: white;
  font-size: larger;
  /* text-align: start; */
}

.date{
  padding-left: 2vw;
  display: inline;
  font-size: large;
  color: gray;
}

.text{
  padding: 1em;
  font-size: medium;
}

.loader{
  align-self: center;
}

app-pagination{
  align-self: center;
}

app-topic-bubble{
  margin: 2em 0; 
  outline: none;
  cursor: pointer;
}



/* body {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
} */