<li class="post">
    <div class="first-line">
        <img src="{{image}}">
        <div class="topic-description">
            <div class="title">{{topic}}</div>
            <p class="date">{{description}}</p>
        </div>
    </div>
    <div class="text" [innerHTML]='body'></div>
</li>
