.first-line{
    display: flex;
    align-items: center;
}

.post{
    text-decoration: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 65px;
    display: block;
    margin: 2em 0; 
    padding: 2em;
    padding-top: 1em;
    padding-left: 1em;
    background-color: white;
    font-size: larger;
}

.date{
    padding-top: 20px;
    padding-left: 20px;
    display: inline;
    font-size: large;
    color: gray;
}

.text{
    padding: 1em;
    font-size: medium;
    margin-left: 50px;
}

img{
    width: 100px;
    border-radius: 50px;
    padding: 10px;
}

.title{
    font-size: xx-large;
}

.topic-description{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: 20px;
}