hr {
    border-top: 10px solid;
}

.practical h1, .practical hr {
    color: rgb(128, 20, 20);
}

.practical .btn.btn-primary {
    background-color: rgb(128, 20, 20);
    border-color: rgb(128, 20, 20);
}

.community h1, .community hr {
    color: rgba(4, 0, 255, 0.596);
}

.community .btn.btn-primary {
    background-color:rgba(4, 0, 255, 0.596);
    border-color: rgba(4, 0, 255, 0.596);
}

.experts h1, .experts hr {
    color: green;
}

.experts .btn.btn-primary {
    background-color: green;
    border-color: green;
}

