.topbubble-topic{
  padding: 1em 0;
  text-decoration: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 65px;
  display: flex;
  flex-flow: column;
  padding: 2em;
  background-color: white;
  font-size: larger;
  transition: 0.3s
}

.topbubble-topic:hover{
  background-color: #F9F0FF;
  margin-left: 1em;
}

.topbubble-topic:active{
  box-shadow: none;
}

.topbubble-date{
  padding-left: 2vw;
  display: inline;
  font-size: large;
  color: gray;
}

.topbubble-text{
  padding: 1em;
  align-self: flex-start;
}

.topbubble-text > p{
  font-size: medium;
}

.topbubble-replies{
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.topbubble-replies > img{
  width: 3em;
  margin: 1em;
}

