<li class="topbubble-topic">
    <div class="topbubble-first-line">
        {{topic}}
        <p class="topbubble-date">{{description}}</p>
    </div>
    <!--InnerHTML permet de mettre du htlm dans la balise marche que si y a le view encapulation none  -->
    <div class="topbubble-text" [innerHTML]='finalBody'></div>
    <div class="topbubble-replies" *ngIf="replies!=undefined && replies!=0">
        <img src="../../../assets/chat.svg" alt="speech-bubbles">
        <p>{{replies}} replies</p>
    </div>
</li>
