.loader{
    align-self: center;
    margin-top: 50vh;
}

.container{
    display: flex;
    flex-flow: column;
    padding: 3%;
}

.content{
    display: flex;
    flex-flow: column;
    align-items: center;
}

app-arrow{
    align-self: flex-start;
}

app-topic-main-bubble, app-post-bubble, app-submit-box{
    width: 90vw;
}