<div class='container'>
    <app-emergency-box></app-emergency-box>
    <app-arrow [route]="'/community'"></app-arrow>
    <div *ngIf='!show' class="loader">
        <p>Loading...</p>
    </div>
    <div class='content' *ngIf='show'>
        <app-topic-main-bubble [topic]="topic.title" [image]="textFormatting.avatarLinkFormatting(mainPost.avatar_template)" [description]="textFormatting.descriptionFormatting(mainPost.created_at, mainPost.username)" [body]='mainPost.cooked'></app-topic-main-bubble>
        <app-post-bubble *ngFor='let post of filterPosts()' [image]="textFormatting.avatarLinkFormatting(post.avatar_template)" [description]="textFormatting.descriptionFormatting(post.created_at, post.username)" [body]='post.cooked'></app-post-bubble>
        <app-submit-box [type]="1" (messageEvent)="onSubmit($event)" *ngIf="session$"></app-submit-box>
        <app-login-alert [body]="'Log in to engage in the discussion !'" *ngIf="!session$"></app-login-alert>
    </div>
</div>
