<div class="back">
  <app-emergency-box></app-emergency-box>
  <div class="select-container">
    <!--<select class="browser-default custom-select" [ngModel]="cantonSelected" (ngModelChange)="onSelect($event)">
       <option selected>Select your canton</option>
      <option *ngFor="let canton of cantons; let i=index" value="{{i}}">{{canton}}</option>
    </select> -->
    <app-cantonbox (messageEvent)="onSelect($event)"></app-cantonbox>
    <p class="font-weight-bold" *ngIf='cantonSelected!=null'>{{ 'MAP.CANTONOF' | translate }} {{cantonSelected}}</p>
      <!-- <p *ngIf='cantonSelected!=""'><strong > {{cantons[cantonSelected].desCentre}} </strong></p> -->
    <p *ngIf="!centersFound && cantonSelected!=null" class="noCentre" translate>MAP.SORRY</p>
  </div>
  
  <div class="map-container">
    <agm-map *ngIf="cantonCenter.lat !== undefined"
      [latitude]="cantonCenter?.lat"
      [longitude]="cantonCenter?.lng"
      [zoom]="11"
      [disableDefaultUI]="false"
      [zoomControl]="false">
      <agm-marker *ngFor="let place of cantonData"
          [latitude]="place.latitude"
          [longitude]="place.longitude">
          <agm-info-window #infoWindow>
              <span>{{ place.name }}</span><br/>
              <span *ngIf="place.address !== ''" >{{ place.address }}</span><br/>
              <span *ngIf="place.postalCode != 0" >{{ place.postalCode }}</span><br/>
              <span *ngIf="place.city !== ''" >{{ place.city }}</span><br/>
              <a *ngIf="place.website !== ''" href="{{place.website}}" target="_blank" translate>MAP.WEBSITE</a><br/>
              <a *ngIf="place.tel !== ''" href="tel://+{{place.tel.replace(' ', '')}}" target="_blank">{{ place.tel }}</a><br/>
              <span class="target" *ngIf="place.type !== ''">{{ 'MAP.WHO' | translate }} : {{ place.type }}</span><br/>
          </agm-info-window>
      </agm-marker>
  </agm-map>
</div>
  <div class="details-container">
    <div *ngFor='let t of typeMap | keyvalue' class="content-box">
      <div *ngIf='t.key != ""' class="content-header"><p>{{t.key}}</p></div>
      <div *ngIf='t.key == ""' class="content-header"><p translate>MAP.UNCATEGORIZED</p></div>
      <div class="line1"></div>
      <div class="content-grid">
        <div *ngFor="let d of t.value" class="bubble">
            <p class="info" id="title">{{d.name}}</p>
            <div class="bubble-content">
              <p><span *ngIf="d.address != ''" class="info">{{d.address}}</span><br/>
              <span *ngIf="d.postalCode != 0 || d.city != ''" class="info">{{d.postalCode}} {{ d.city }}</span></p>
              <p *ngIf="d.tel != ''" class="info"><a href="tel://+{{ d.tel }}" target="_blank">{{ d.tel }}</a></p>
              <p *ngIf="d.website != ''" class="info"><a href="http://{{ d.website }}" target="_blank" translate>MAP.WEBSITE</a></p>
              <p *ngIf="d.description !== ''" class="info" id="description">{{ 'MAP.DESCRIPTION' | translate }} : {{ d.description }}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
