.container{
    display: flex;
    flex-flow: column;
}

.text-container{
    padding: 1em 0;
    text-decoration: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 65px;
    display: block;
    margin: 2em 0; 
    padding: 2em;
    background-color: white;
    font-size: larger;
    display: flex;
    flex-flow: column;
}

button {
    background-color: #FF9848;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 65px;
    padding: 0.3em 0.5em;
    outline: none;
}

button:active {
    outline: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
}

button:hover {
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.3s;
}

.inner{
    align-self: flex-end;
}

.outer{
    align-self: center;
    padding: 0.5em 2em;
}

.message, #message:focus {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}

.message::placeholder {
    color: #BEBEBE;
}

.message[contenteditable]:empty::before {
    color: gray;
    cursor: text ;
}

.text-container.title{
    margin-bottom: 0;
}

.message.title[contenteditable]:empty::before{
    content: "Write a title...";
}

.message.body[contenteditable]:empty::before{
    content: "Write a post...";
}