<div class="container">
    <div *ngIf="!type" class="text-container title">
        <div autocomplete="off" type="text" class="message title" contenteditable #title></div>
    </div>
    <div class="text-container">
        <div autocomplete="off" type="text" class="message body" [style.min-height]="height" [style.margin-bottom]="type ? '1em' : '0'" contenteditable #body></div>
        <button *ngIf="type" class="inner" type="submit" (click)="onSubmit()">Send</button>
    </div>
    <button *ngIf="!type" class="outer" type="submit" (click)="onSubmit()">Post</button>
</div>