.page-count{
    padding: 1em;
    align-self: center;
    display: flex;
}

.triangle-container{
    padding: 0 .5em;
    transition: 0.3s;
}

.triangle-container.on{
    cursor: pointer;
}

.triangle-container.left.on:hover{
    padding-right: 1em;
}

.triangle-container.right.on:hover{
    padding-left: 1em;
}

.triangle-button{
    width: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.triangle-button.left.on{
    border-right: 20px solid #FC5C14;
}

.triangle-button.right.on{
    border-left: 20px solid #FC5C14;
}

.triangle-button.left.off{
    border-right: 20px solid rgba(0, 0, 0, 0.55);
}

.triangle-button.right.off{
    border-left: 20px solid rgba(0, 0, 0, 0.55);
}