<div class="page-count">
    <div (click)="changePage(-1)" [ngClass]="currentPage==0 ? 'triangle-container left off' : 'triangle-container left on'">
      <div [ngClass]="currentPage==0 ? 'triangle-button left off' : 'triangle-button left on'"></div>
    </div>
    <p>{{currentPage + 1}} of {{maxPages}}</p>
    <div (click)="changePage(1)" [ngClass]="currentPage==(maxPages-1) ? 'triangle-container right off' : 'triangle-container right on'">
      <div [ngClass]="currentPage==(maxPages-1) ? 'triangle-button right off' : 'triangle-button right on'"></div>
    </div>
</div>