#background{
    position: relative;
    height: 100vh;
    background: #8C93D8;
    padding: 0 6%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.overflow{
    position: absolute;
    right: 0%;
    top: 0;
    width: 50%;
    pointer-events: none;
    z-index: 1;
}

.overflow img{
    position: absolute;
    width: 30vw;
    height: 110vh;
    margin-left: 16vw;
    margin-top: 0;
}

.flexbox{
    display: flex;
}

#title{
    width: 55%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title > h1{

    font-family: 'Nova Round', cursive;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    font-size: 6vw;
    align-items: center;
    text-align: center;
    font-feature-settings: 'kern' off;

    color: #FF9848;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#title > h2{
    font-family: 'Nova Round', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    margin: 1% 0;
    align-items: center;
    text-align: center;

    color: #FF9848;

    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
}

#title > .line1{
    width: 100%;
    border: 3px solid #999FDE;
}

#title > p{

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    margin: 3% 0;
    align-items: center;
    text-align: center;

    color: #2E3192;
}

.emergency{

    padding: 2%;
    margin: 3% 0;

    border: 4px solid #FF9848;
    box-sizing: border-box;
    border-radius: 29px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    align-items: center;
    text-align: center;

    color: #FFFAE7;
}

.emergency a{
    color: #FF9848;
    font-size: 1.25vw;
}

#number{
    font-weight: bold;
}

#maplink{
    text-decoration: underline;
}

#inputbox{
    width: 85%;

    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(255, 152, 72, 0.28);
    border-radius: 31px;
}

#inputbox > h2{
    width: 90%;
    padding-top: 1%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75vw;
    line-height: 44px;
    justify-self: center;

    color: #2E3192;
}

#inputbox > .line2{
    height: 0px;
    width: 95%;
    justify-self: center;
    text-align: center;
    border: 1px solid #BEBEBE;
}

#optionbox{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.selbox{
    border: 2px solid #FC5C14;
    box-sizing: border-box;
    border-radius: 30px;
    justify-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 1.2vw 0;
    transition-duration: 0.4s;
}

.selbox:hover{
    background: #FF9848;
    color: #FFFFFF;
    cursor: pointer;

}

.selbox:hover > p{
    color: #FFFFFF;
}

.langboxes{
    display: flex;
    justify-content: space-evenly;
}

.langboxes > .selbox{
    width: 6vw;
    height: 4vw;
}

.selbox > p{
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    text-align: center;

    color: #FC5C14;
}

.cantonbox{
    height: 4vh;
    margin: 1.3vw 0;
}

.age{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.age > .selbox{
    width: 30%;
    height: 4vh;
}

.submitbox{
    display: flex;
    justify-content: space-evenly;
}

.submit{
    border: 2px solid #8C93D8;
}

.submit > p{
    color: #2E3192;}

.submitbox > .selbox{
    width: 13vw;
    height: 4vh;
}

.submitbox .selbox:hover{
    background: #2E3192;
    color: #FFFFFF;
}

.submitbox .selbox:hover > p{
    color: #FFFFFF;
}

.selected{
    background: #FF9848;
}

.selected > p{
    color: #FFFFFF;
}