ul {
    list-style: none;
    /* margin: 3em 2em; */
    padding: 1em;
}
li {
    border-bottom: 3px solid #FFFAE7;
    padding: 0.5em 0;
}

li:hover{
    cursor: pointer;
}

li:last-of-type {
    border: none;    
}
img{
    border-radius: 50%;
}

.user-info{
    margin-left: 0.5em;
    margin-top :1em;
}

.selected {
    border-left: 3px solid #FFFAE7;
}