<ul>
    <li *ngFor="let user of listUser; let i = index" class="flex-row" (click)="updateSelected(i)" [ngClass]="{selected: i === selectedId}"> 
        <img src="https://discourse.yana.help{{user.avatar_template.replace('{size}', '100')}}" alt="Avatar" width="100">
        <div class="user-info">
            <h3>{{user.username}}</h3>
            <!-- TODO: Add title to message request for now only available in full request -->
            <!-- <p>{{user.title}}</p> -->
        </div>

    </li>
</ul>
