
<!-- <div> -->
  <app-horizontal-header class="app-header"></app-horizontal-header>
  <router-outlet #routerTag (activate)="onActivate($event)"></router-outlet>
  <!-- <div  id="app-root"> -->
    <!-- <button [hidden]="!isMobile" class="btn" (click)="changeMenu()"><i class="fa fa-bars"></i></button> -->
  <!-- </div> -->
<!-- </div> -->
