#keyword {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  padding: .5em 1em;
  font-size: medium;
  outline: none;
  transition: border 0.5s ease-in-out;
  width: 50vw;
}
#keyword:focus {
  border-color : rgba(81, 203, 238, 1);
}

.keyword-wrapper{
  display: flex;
  justify-content: center;
}