.message-layout{
    background-color: #FFFAE7;
    align-items: stretch;
    height: 100%;
    justify-content: space-around;
    padding: 2.5em 0;
    

}

.mobile {
    background: #FFFAE7;
}

.content-group {
    background-color: #999FDE;
    border-radius: 65px;
    overflow: hidden;
}

.scrolling {
    overflow-y: scroll;
}

.half-page {
    max-width: 70%;
    max-height: 75vh;
}

ul {
    list-style: none;
    /* padding: 1em; */
}

::-webkit-scrollbar{
    display: none;
}

app-input {
    margin: 0 1em;
}

.basis-size {
    height: 100%;
}

.scroll-container{
    overflow-y: hidden;
}

.large-container {
    flex-basis: 70%;
}

.small-container { 
    flex-basis: 20%;
    
}