<div *ngIf="session$ && showDesktop" class="flex-row message-layout">
    <app-contact-list (selectedUser)="selectTopic($event)" [listUser]="messagingUsers"
        class="content-group scrolling basis-size half-page"></app-contact-list>
    <div class="flex-column half-page large-container">
        <h1 class="page__title">Mes messages privés</h1>
        <div class="basis-size content-group">

            <!-- <ng-container *ngFor="let topic of topics"> -->
                <!-- TODO: Use cleaner implementation because creating a conversation component for each is not ideal. -->
                <div class="flex-column">
                    <app-conversation class="flex-column scrolling"></app-conversation>
                    <app-input [topicId]="selected?.id"></app-input>
                </div>

            <!-- </ng-container> -->
        </div>
    </div>
</div>

<app-liste-discussion-mobile class="mobile" *ngIf="session$ && !showDesktop" [topics]=topics [messagingUsers]="messagingUsers">

</app-liste-discussion-mobile>
<figure *ngIf="!session$" class="warning">
    <figcaption>Error:</figcaption>
    <p>
        This prototype functionality is only implemented for registered internal users. <a routerLink="/login"
            skipLocationChange>Log in !</a>
    </p>
</figure>