<div class="card">
    <div class="flex-row">
        <img src="https://discourse.yana.help{{user.avatar_template.replace('{size}', '40')}}" alt="Avatar" width="40">
        <div>
            <h2>{{user.username}}</h2>
            <!-- TODO: Write category pipe could also do image size pipe -->
            <h3 *ngIf="topic.category_id">group conversation</h3>
        </div>
    </div>
    <div [innerHTML]="lastMessage$ | async">
    </div>
</div>