.login-alert{
    padding: 1em 0;
    text-decoration: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 65px;
    display: block;
    margin: 2em 0; 
    padding: 2em;
    background-color: white;
    text-align: center;
    width: fit-content;
    border: 5px solid #FF9848;
    box-sizing: border-box;
    border-radius: 10vw;
    color: #FF9848;
    transition: 0.3s;
}

.login-alert:hover{
    background-color: #FF9848;
    color: white;
    cursor: pointer;
}