<div [@routeAnimations]="prepareRoute(outlet)"> <!-- a ajouter en séparer pour enclancher les animations  -->
    <router-outlet #outlet="outlet" ></router-outlet> <!-- Stocker le outlet pour le passer en argument dans le prepare route outlet représente ce qu'on veut afficher-->
</div>