.background {
    background-image: url(../../../assets/yana-tree-no-hands-spaced_v2.svg);
    background-size: cover;
    background-position: 47vw 0; /* Placing the tree on the side for it to repeat on the other side */ 
    background-color: #FFFAE7;
    height: 100%;
    min-height: calc(100vh - 4vw); /* minus height of navbar */
    padding: 3%;
    overflow: hidden;
}

.container{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
}

.title{
    text-align: center;
    color: #2E3192;
    font-size: xx-large;
}

.title, .description, app-submit-box{
    margin: 2% 20%;
}

app-arrow{
    align-self: flex-start;
}

app-submit-box{
    width: 60vw;
}