<div class="background">
    <app-emergency-box></app-emergency-box>
    <div class="container">
        <app-arrow [route]="'/community'"></app-arrow>
        <h1 class="title">Create a new topic</h1>
        <p class="description">Here you can create a new topic to interact with the community. You can fill in the box below with a title summarizing the discussion you want to have followed by its content. It could be a question, an experience or anything as long as you remember to be nice to others :) </p>
        
        <app-submit-box *ngIf="session$" [type]="0" [height]="'500px'" (messageEvent)="onSubmit($event)"></app-submit-box>
        <app-login-alert *ngIf="!session$" [body]="'Log in to create a topic !'" ></app-login-alert>
    </div>
</div>