<div class="flex-column">
    <input type="text" class="white search-bar rounded" placeholder="Find a discussion"/>
    <div class="flex-row filters">
        <button class="button" [ngClass]="{'selected': expertSelected, 'unselected': !expertSelected}" (click)="expertSelected= !expertSelected">Expert</button>
        <button class="button" [ngClass]="{'selected': groupSelected, 'unselected': !groupSelected}" (click)="groupSelected = !groupSelected">Group</button>
    </div>
    <ng-container @list *ngIf="expertSelected">
        <app-discussion-item @items class="list-item" *ngFor="let topic of topics; let i=index" [topic]="topic" [user]="getUser(topic.last_poster_username)" routerLink="conversation" (click)="messageState.selectTopic(topic)" skipLocationChange></app-discussion-item>
    </ng-container>
    <ng-container @list *ngIf="groupSelected">
        <app-discussion-item @items class="list-item" *ngFor="let topic of publicTopics; let i=index" [topic]="topic" [user]="getUser(topic.last_poster_username)" routerLink="conversation" (click)="messageState.selectTopic(topic)" skipLocationChange></app-discussion-item>
    </ng-container>

</div>
<div class="floating"></div>
