.rounded {
    border-radius: 0.75rem;
}

.search-bar {
    padding: 0.5rem;
    /* overflow: hidden; */
    border-style: hidden;
}

.list-item {
    background-color: #FFF;
    border-radius: 0.25rem;
}

:host {
    background-color: #999FDE;
}

.flex-column {
    height: 100%;
    overflow-y: scroll;
    padding: 0.5em;
    gap: 1rem;
    background-color: #999FDE;
}

.white {
    background-color: white;
}

.selected {
    background-color: #FFFFFF;
}


.filters {
    justify-content: space-around;
}

.button {
    border: 2px solid #FFFFFF;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
}

.unselected {
    background-color: transparent;
    color: #FFFFFF;
}

* {
    font-size: 14px;
}