/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nova+Round&display=swap');
* {
    font-family: 'Montserrat';
    font-size: 21px;
    font-weight: regular;
    margin: 0;
    box-sizing: border-box;
}

.app-root {
    background-color: #FFFAE7;
}

a:visited {
    color: inherit;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    /* align-content: stretch;
    align-items: stretch; */
}

app-root {
    transition: 0.5s;
    flex: 1 1 auto;
    order: 0;
    flex-direction: column;
    height: 100%;
}

/* Cette proriété permet à tous les éléments suivant le router-outlet angular
donc sous la barre de navigation de prendre toute la page à disposition */
.flex-column > router-outlet + * {
    flex-grow: 1;
}

body, html {
    margin: 0;
    padding: 0;
}

.warning {
    color: red;
}

.page__title {
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #2E3192;
    font-style: normal;

    /* margin-bottom: auto; */
}