ul {
    list-style: none;
    padding-inline-start: 0;
    max-height: 70vh;
}

.empty-chat {
    height: 50vh;
    width: 50vh;
}

.bubble {
    border: 0.8px solid #C4C4C4;
    max-width: 70%;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    /* overflow-y: auto; */
    word-break: break-word;
}

.received {
    align-self: flex-start;
    border-radius: 10px 10px 10px 0px;
}

.sent {
    align-self: flex-end;
    border-radius: 10px 10px 0px 10px;

}

.scrolling {
    overflow-y: scroll;
}

@media screen and (min-width: 400px) {
    .bubble {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 36px;
    }

    .sent {
        background-color: #FFFAE7;
        align-self: flex-end;
    }
    
    .received {
        background-color: #FFFFFF;
        align-self: flex-start;
    }
    
}

app-input {
    margin: 0 1em;
}