<div *ngIf="showInput">
    <a routerLink="/messages" skipLocationChange>go back</a>
</div>
<ul class="flex-column scrolling">
    <li *ngFor="let message of messages$ | async" class="bubble" [innerHTML]="message.cooked"
        [ngClass]="{sent: message.yours, received: !message.yours}" #bubble>
    </li>
</ul>
<app-input *ngIf="showInput" [topicId]="_topic.id"></app-input>
<!-- <div class="empty-chat" *ngIf="!_topic">
    You don't have a conversation here yet.
</div> -->