.container{
    margin: 1em;
    cursor: pointer;
    display: flex;
    transition: 0.3s;
    padding-left: .5em;
    outline: none;
}

.container:hover{
    padding-left: 0;
    padding-right: .5em;
}
