.post{
  padding: 1em 0;
  text-decoration: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 65px;
  display: block;
  margin: 2em 0; 
  padding: 2em;
  background-color: white;
  font-size: larger;
}
.date{
  padding-left: 2vw;
  display: inline;
  font-size: large;
  color: gray;
}
.text{
    padding: 1em;
    font-size: medium;
}

img{
  margin-bottom: -130px;
  margin-left: 10px;
  width: 100px;
  border-radius: 50px;
}

.post > *{
  margin-left: 50px;
}