input, input:focus {
    width: 100%;
    border: none;
    border-bottom: 3px solid #FFFAE7;
    background-color: #00000000;
    padding-top: 1em;
    margin-bottom: 1em;
    padding-right: 5em;
}

input::placeholder {
    color: #FFFAE780;
}

button, button:focus {
    position: absolute;
    right: 0;
    bottom: 1.6em;
    background-color: #FF9848;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 65px;
    padding: 0.3em 0.5em;
}

button:hover {
    cursor: pointer;
    color: #FFFFFF;
}

button:focus,  
input:focus {
    outline: none;
}


.input-container {
    padding: 0.2em 0.5em;
    position: relative;
}
