<form [formGroup]="sendMessageForm" (ngSubmit)="onSubmit(sendMessageForm.value)" class="custom-input">
    <div class="input-container">
        <input autocomplete="off" placeholder="Write a message..." type="text" id="message" formControlName="message">
        <button type="submit">Send</button>
    </div>
</form>